<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale•l">
    <title>Recipe List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">

</head>
<body class="body2">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--This will collapse the navigation bar and make it shown while clicking the bar even after min size,-->
            <!--The Collapse start here-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testNavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Recipe Book</a>

        </div>
        <div class="collapse navbar-collapse" id="testNavBar">
            <!--The Collapse end here-->

            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="RecipeBook.html">Home</a></li>
                <li ><a href="GulabJamun.html">GulabJamun</a></li>
                <li><a href="Wings.html">Wings</a></li>
                <li ><a href="Injera.html">Injera</a></li>
                <li><a href="EggSouce.html">EggSouce</a></li>
                <li ><a href="CrabcakeRecipe.html">Crabcake</a></li>
                <li ><a href="Makhrouds.html">Makhrouds</a></li>
                <li ><a href="Menu.html">Menu</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h3 class="large well"> GulabJamun </h3>

        <div>
            <img class="standardimage4 img" src="http://bestanimations.com/Flags/Asia/india/indian-flag-waving-gif-animation-9.gif"
                 alt="Traditional Food Recipes" align="right" ><h3 class="well well-sm"> Indian Food</h3>
        </div>


        <div class="well col-md-12">

            <img class="standardimage2 img-thumbnail"src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1435094574000/photosp/16c4043c-e656-4c0f-a731-4dc8dfc72c3f/stock-photo-dessert-sugar-sweet-homemade-food-and-drink-indian-16c4043c-e656-4c0f-a731-4dc8dfc72c3f.jpg"

                 alt="Traditional Food Recipes" align="left" >


            <h3 >Ingredients</h3>
            <p>
            <ul>

                <div><li>Ingredients</div></li>

                <div><li>1 cup dry milk powder</div></li>

                <div><li>   3 tablespoons all-purpose flour</div></li>

                <div><li>   2 tablespoons ghee (clarified butter), melted</div></li>

                <div><li> 1/2 teaspoon baking powder</div></li>

                <div><li> 1/2 cup warm milk</div></li>

                <div><li> 1 tablespoon chopped almonds (optional)</div></li>

                <div><li>  1 tablespoon chopped pistachio nuts (optional)</div></li>

                <div><li>  1 tablespoon golden raisins (optional)</div></li>

                <div><li>  1 pinch ground cardamom</div></li>

                <div><li>  1 quart vegetable oil for deep frying</div></li>

                <div><li>  1 1/4 cups white sugar</div></li>

                <div><li> 7 fluid ounces water</div></li>

                <div><li> 1 teaspoon rose water</div></li>

                <div><li> 1 pinch ground cardamom</div></li>
            </ul>
            </p>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="well col-md-12">
                    <h3> Direction</h3>
                    <p>
                        In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until well blended. Cover and let rest for 20 minutes.

                        In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom. Bring to a boil, and simmer for just a minute. Set aside.

                        Fill a large heavy skillet halfway with oil. Heat over medium heat for at least 5 minutes. Knead the dough, and form into about 20 small balls. Reduce the heat of the oil to low, and fry the balls in one or two batches. After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much. After the jamun float, increase the heat to medium, and turn them frequently until light golden. Remove from the oil to paper towels using a slotted spoon, and allow to cool. Drain on paper towels and allow to cool slightly.

                    </p>
                    <p>
                        <em><strong><h5 >To Server </h5></strong></em>

                    </p>
                    Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup. Serve immediately, or chill.

                </div>
            </div>
        </div>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<!-- Latest compiled and minified JavaScript Get it from bootstarp website-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>