<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale•l">
    <title>Recipe List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">

</head>
<body class="body2">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--This will collapse the navigation bar and make it shown while clicking the bar even after min size,-->
            <!--The Collapse start here-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testNavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Recipe Book</a>

        </div>
        <div class="collapse navbar-collapse" id="testNavBar">
            <!--The Collapse end here-->

            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="RecipeBook.html">Home</a></li>
                <li><a href="Wings.html">Wings</a></li>
                <li ><a href="Injera.html">Injera</a></li>
                <li><a href="EggSouce.html">EggSouce</a></li>
                <li ><a href="CrabcakeRecipe.html">Crabcake</a></li>
                <li ><a href="GulabJamun.html">GulabJamun</a></li>
                <li ><a href="Makhrouds.html">Makhrouds</a></li>
                <li ><a href="Menu.html">Menu</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

        <h3 class="large well"> Sichuan Chicken Wings </h3>

        <!--<h3 class="well well-sm"> Chinese Food</h3>-->
        <div>
            <img class="standardimage4 img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Chinese_flag_%28Beijing%29_-_IMG_1104.jpg/220px-Chinese_flag_%28Beijing%29_-_IMG_1104.jpg"
                 alt="Traditional Food Recipes" align="right" ><h3 class="well well-sm"> Chinese Food</h3>
        </div>

        <div class="well col-md-12">
            <img class="standardimage2 img" src="https://static.pexels.com/photos/106343/pexels-photo-106343.jpeg"
                 alt="Traditional Food Recipes" align="left" >


            <h3 >Ingredients</h3>
            <p>
            <ul>
                <div><li>800g chicken wings

                    <div><li>1 tbsp baking powder</div></li>

                <div><li>Baking powder</div></li>

                <div><li>1½ tsp Sichuan peppercorns</div></li>

                <div><li>1½ tsp chilli flakes</div></li>

                <div><li>3 tbsp Shaoxing wine</div></li>

                <div><li>1½ tbsp garlic and ginger paste</div></li>

                <div><li>3 tbsp dark soy sauce</div></li>

                <div><li>Soy sauce</div></li>

                <div><li>3 tbsp light soy sauce</div></li>

                <div><li>1½ tsp sesame oil</div></li>

                <div><li>3 tbsp palm sugar</div></li>

            </ul>
            </p>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="well col-md-12">

                    <h3> Direction</h3>
                    <p>Heat oven to 160C/140C fan/gas 3.Toss the chicken in 1 tsp salt and the baking powder – this is the secret to getting crispy skin!Put the wings
                        on a wire rack set over an oven tray. Bake for 30 mins, turning halfway, then turn the heat up to 220C/200C fan/gas 7 and cook for 20 mins more.
                        Meanwhile, toast the peppercorns and chilli flakes until fragrant, about 2 mins, then grind using a pestle and mortar. Tip into a saucepan, then
                        add the rest of the ingredients apart from the chopped peanuts and chilli flakes. Whisk to combine, then cook over a medium heat for 8-10 mins until
                        thickened and bubbling. Set aside.</p>

                    <p>Take the chicken off the rack and tip onto the tray, then coat in the glaze. Return to the oven for 5 mins until bubbling and sticky. Serve the chicken
                        scattered with the peanuts and chilli flakes.</p>
                    <p>
                        <em><strong><h5 >To Server for Three people</h5></strong></em>
                    </p>
                    <p>chopped peanuts</p>
                    <p>chilli flakes</p>

                </div>
            </div>
        </div>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<!-- Latest compiled and minified JavaScript Get it from bootstarp website-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>